<div class="col-lg-4 col-md-6 col-12 mb-5">
    <div class="card-actus position-relative bg-white">
        <span class="badge position-absolute top-0 end-0 m-2 bgc-tertiary color-secondary">{{ article.category.name }}</span>
        <div class="card-actus-img-wrapper">
        {% if article.mainImage %}
            <img class="card-actus-img"
                src="{{ vich_uploader_asset(article, 'main_image_file') }}"
                alt="{{ article.title }}">
        {% else %}
            <div class="bgc-linear-secondary d-flex align-items-center justify-content-center h-100">
                <i class="fa-regular fa-image fa-2xl color-primary"></i>
            </div>
        {% endif %}
        </div>
        <div class="card-actus-content p-4">
            <p><i class="fa-solid fa-calendar"></i>&nbsp;&nbsp;{{ article.publishedAt|date('d/m/Y') }}</p>
            <h3>{{ article.title }}</h3>
            <p class="text-truncate-2">{{ article.description }}</p>
            <a class="d-block text-center color-primary" href="{{ path('app_news_details', {'id': article.id}) }}">Lire la suite&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
</div>