<footer class="py-4 bgc-primary color-secondary">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-4">
				<h5 class="mb-3">Bob Aventure</h5>
				<p class="color-secondary">Association de passionnés de 4x4 engagée dans l'aventure et l'aide humanitaire.</p>
			</div>

			<div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-4">
				<h5 class="mb-3">Navigation</h5>
				<ul class="list-unstyled d-flex flex-column gap-1">
					<li>
						<a href="{{path('app_index')}}" class="color-secondary">Accueil</a>
					</li>
					<li>
						<a href="{{path('app_news')}}" class="color-secondary">Blog</a>
					</li>
					<li>
						<a href="{{path('app_login')}}" class="color-secondary">Nous rejoindre</a>
					</li>
					<li>
						<a href="{{path('app_cgu')}}" class="color-secondary">Conditions générales d'utilisation</a>
					</li>
					<li>
						<a href="{{path('app_legal_notices')}}" class="color-secondary">Mentions légales</a>
					</li>
					<li>
						<a href="{{path('app_privacy')}}" class="color-secondary">Politique de confidentialité</a>
					</li>
					<li>
						<a href="{{path('app_site_map')}}" class="color-secondary">Plan du site</a>
					</li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-4">
				<h5 class="mb-3">Contact</h5>
				<ul class="list-unstyled d-flex flex-column gap-1">
					<li>
						<a href="mailto:votreadresse@mail.fr" class="color-secondary"><i class="fa-regular fa-envelope"></i>&nbsp;&nbsp;contact@email.com</a>
					</li>
					<li>
						<a href="tel:0123456789" class="color-secondary"><i class="fa-solid fa-phone"></i>&nbsp;&nbsp;01.23.45.67.89</a>
					</li>
					<li>
						<p class="adresse color-secondary"><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;123 Rue de l'Aventure, 75000 Paris</p>
					</li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 col-12 mb-md-0 mb-4">
				<h5 class="mb-3">Suivez-nous</h5>
				<ul class="list-inline social-icons">
					<li class="list-inline-item me-3">
						<a href="#" class="color-secondary">
							<i class="fa-brands fa-facebook fa-2xl"></i>
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" class="color-secondary">
							<i class="fa-brands fa-instagram fa-2xl"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 text-center">
				<p class="color-secondary">&copy; 2026 BOB Aventure. Tous droits réservés.</p>
			</div>
		</div>
	</div>
</footer>
