{% extends 'base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}
	{% include 'assets/header.html.twig' %}

	<main class="bgc-primary">
		<section class="hero-news py-5">
			<div class="container">
				<h1>Mon Profil</h1>
				<p>Gérez vos informations personnelles</p>
			</div>
		</section>

		<section class="infos-profil">
			<div class="container py-5">
				<div class="row">
					<div class="col-4">
						<div class="bgc-secondary border rounded-3">
							<div class="card-custom p-4">
								<div class="text-center">
									<div class="icon-card">
										<i class="fa-solid fa-user fa-2xl"></i>
									</div>
									<h2>{{user.firstname}}
										{{user.lastname}}</h2>
									<p>Membre depuis
										{{ user.createdAt|date('Y') }}</p>
								</div>
								<p>
									<i class="fa-solid fa-envelope me-2"></i>
									{{ user.email ?: 'Non connu' }}
								</p>

								<p>
									<i class="fa-solid fa-phone me-2"></i>
									{{ user.phoneNumber ?: 'Non connu' }}
								</p>

								<p>
									<i class="fa-solid fa-location-dot me-2"></i>
									{{ user.adress ?: 'Non connu' }}
								</p>
								<a href="{{path('app_logout')}}" class="btn btn-danger w-100">
									<i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Se déconnecter</a>
							</div>
						</div>
					</div>
					<div class="col-8">
						<div class="bgc-secondary border rounded-3 p-4">
							<h2>Informations personnelles</h2>
							<p>Modifiez vos informations de profil</p>
							{% include "assets/flash.html.twig" %}
							{{ form_start(form) }}
							<div class="row">
								<div class="col-6">
									<div class="mb-3">
										{{ form_label(form.firstname, 'Prénom') }}
										{{ form_widget(form.firstname) }}
										{{ form_errors(form.firstname) }}
									</div>
								</div>
								<div class="col-6">
									<div class="mb-3">
										{{ form_label(form.lastname, 'Nom') }}
										{{ form_widget(form.lastname) }}
										{{ form_errors(form.lastname) }}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
										{{ form_label(form.email, 'Email') }}
										{{ form_widget(form.email) }}
										{{ form_errors(form.email) }}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
										{{ form_label(form.phone_number, 'Téléphone') }}
										{{ form_widget(form.phone_number) }}
										{{ form_errors(form.phone_number) }}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
										{{ form_label(form.adress, 'Adresse') }}
										{{ form_widget(form.adress) }}
										{{ form_errors(form.adress) }}
									</div>
								</div>
								<div class="col-12">
									<div class="mb-3">
										{{ form_label(form.description, 'Présentation') }}
										{{ form_widget(form.description, {'attr': {'rows': 4}}) }}
										{{ form_errors(form.description) }}
									</div>
								</div>
							</div>
							{{ form_widget(form.submit) }}
							{{ form_end(form) }}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	{% include 'assets/footer.html.twig' %}
{% endblock %}

